# Threat Intelligence Report for IP: {{ ip_to_check }}

---

## AbuseIPDB Analysis

* **Abuse Confidence Score:** {{ abuse_result.abuseConfidenceScore }}%
* **Country:** {{ abuse_result.countryCode }}
* **ISP:** {{ abuse_result.isp }}
* **Domain:** {{ abuse_result.domain }}
* **Usage Type:** {{ abuse_result.usageType }}
* **Total Reports:** {{ abuse_result.totalReports }}

---

## VirusTotal Analysis

* **ASN Owner:** {{ vt_result.as_owner }}
* **Analysis Stats:**
    * Malicious: {{ vt_result.malicious }}
    * Suspicious: {{ vt_result.suspicious }}
    * Harmless: {{ vt_result.harmless }}
    * Undetected: {{ vt_result.undetected }}